* {
    border: 1px red solid;
    box-sizing: border-box;
}

html,body{
    padding: 0px;
    margin: 0px;
    font-family: 'sansation-regular';
}

div{
    margin:0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-rows: 100vh 240vh 420vh 220vh 150vh 90vh 90vh 100vh 150vh;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "header"
    "section1"
    "section2"
    "section3"
    "section4"
    "section5"
    "section6"
    "section7"
    "footer";
}
/*----------------------- HEADER-------------------------- */
.area-header{
    grid-area: header;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 85vh 15vh;
    grid-template-areas: 
    "sectionA sectionB" 
    "sectionC sectionB";
}
.area-sectionA{
    grid-area: sectionA;
}
.img-sectionA{
    width: 100% !important;
    max-width: 30%;
    margin: 1rem;
}
.area-sectionB{
    grid-area: sectionB;
    align-self: center;
}
.img-sectionB{
    max-width: 100%;
    width: 100%;
    height: 80vh;
}
.area-sectionC{
    grid-area: sectionC;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "sectionC1"
    "sectionC2"
    "sectionC3";
     margin-left: 1rem;
}
.area-sectionC1{
    grid-area: sectionC1;
    font-size: 0.1rem;
}
.label{
    font-size: 0.9rem;
    /* line-height: 1rem; */

}
.area-sectionC2{
    grid-area: sectionC2;
    font-size: 2.2rem;
    padding: 0px;
}
.area-sectionC3{
    grid-area: sectionC3;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-top: 0px;
}
.background-yellow {
 background-color: #ffcc00;
}
/*--------------------------- SECTION 1 ---------------------*/
.area-section1{
    grid-area: section1;
}
.illu1-remake{
    height: 240vh;
    object-fit: cover;
}
.background-purple{
background-color: #660099;
}
/*--------------------------- SECTION 2 ---------------------*/
.area-section2{
    grid-area: section2;
    display: grid;
    grid-template-rows: 1.5fr 1fr 0.5fr 1.5fr;
    grid-template-areas:
    "section2A"
    "section2B"
    "section2C"
    "section2D" ;
}
.area-section2A{
    grid-area: section2A;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas: 
    "section2A1 section2A1 section2A2";
}
.area-section2A1{
    grid-area: section2A1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "section2A1A"
    "section2A1B";
}
.area-section2A1A{
    grid-area: section2A1A;
}
.big-title {
    font-size: 9.36vw;
    line-height: 10.5vw;
    font-weight: 1000;
    letter-spacing: -4.25px;
}
.tit-h2{
     margin: 2rem 0px 0px 2rem;
     padding:0px;
}
.area-section2A1B{
    grid-area: section2A1B;
}
.area-section2A2{
    grid-area: section2A2;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "section2A2A"
    "section2A2B";
}
.area-section2A2A{
    grid-area:section2A2A ;
}
.bullet-big {
    width: 11.5vw;
    height: 11.5vw;
    border-radius: 20vw;
    background: #000000;
    margin-left: auto;
  }
.area-section2A2B{
    grid-area:section2A2B ;
}
.img-letters-j{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.img-letters-j-position{
    margin-top: -20%;
    width: 70%;
    vertical-align: middle;
    margin-left: 2em;
}
.area-section2B{
    grid-area: section2B;
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-areas: 
    "section2B1 section2B2 section2B2";
}
.area-section2B1{
    grid-area: section2B1;
}

.area-section2B2{
    grid-area: section2B2;
}
.area-section2C{
    grid-area: section2C;
}
.area-section2D{
    grid-area: section2D;
}
/*--------------------------- SECTION 3 ---------------------*/
.area-section3{
    grid-area: section3;
}
/*--------------------------- SECTION 4 ---------------------*/
.area-section4{
    grid-area: section4;
}
/*--------------------------- SECTION 5 ---------------------*/
.area-section5{
    grid-area: section5;
}
/*--------------------------- SECTION 6 ---------------------*/
.area-section6{
    grid-area: section6;
}
/*--------------------------- SECTION 7 ---------------------*/
.area-section7{
    grid-area: section7;
}
/*--------------------------- FOOTER ---------------------*/
.area-footer{
    grid-area: footer;
}
/*--------------------------- FONTS ---------------------*/
.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 800;
  font-style:normal;
}